server:
  port: 8080

spring:
  application:
    name: api-gateway
  redis:
    host: redis
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: api-gateway
