apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: controle-service-hpa
  labels:
    app: controle-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: controle-service
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
