apiVersion: v1
kind: Service
metadata:
  name: controle-service
  labels:
    app: controle-service
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: controle-service
