apiVersion: v1
kind: Service
metadata:
  name: environnement-service
  labels:
    app: environnement-service
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: environnement-service
