apiVersion: v1
kind: Service
metadata:
  name: postgres-env
  labels:
    app: postgres-env
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: postgres-env
